
<br /><br />
<div class="container col-md-5" style="border:solid; border-color:purple; padding: 4%; box-shadow: 5px 5px 10px">
    <h2 style="text-align:center">Login</h2>
    <form action="/action_page.php">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
        </div>
        <div class="checkbox" style=" display: flex; justify-content:center;">
            <div style="padding-right:25%">
                <label>
                    <input type="checkbox" name="remember"> Lembre-me
                </label>
            </div>
            <div style="padding-left:25%">
                <a href="reset.html">Esqueçeu a Senha?</a>
            </div>
        </div>

        <br />
        <div style="text-align:center">
            <button type="submit" class="btn btn-success col-md-6">Entrar</button>
        </div>

    </form>
</div>

<br />


